<strong>Olá, {{ student }}</strong>
<p>Você efetuou sua matricula na GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Data de ínicio:</strong> {{ start_date }} <br />
  <strong>Date de términio:</strong> {{ end_date }} <br />
  <strong>Preço mensal:</strong> R${{ monthPrice }} <br />
  <strong>Preço total:</strong> R${{ totalPrice }} <br />
  <br />
  <small>
    Seja bem-vinda(o) ao GymPoint, a melhor academia do Brasil.
  </small>

</p>
